:root {
  font-size: 16px;

  --z-base: 1;
  --z-header: 1000;
  --z-side-menu: 1100;
  --z-hamburger: 1200;
  --hamburger-border-color: transparent;
  --hamburger-border-width: 0;
  --hamburger-margin-top: 20px;
  --hamburger-margin-left: 20px;
  --side-menu-background: hsl(263deg 100% 87%);
  --side-menu-color: hsl(0deg 0% 0% / 0.14);
  --side-menu-item-background-hover: hsl(306deg 100% 61% / 0.15);
  --side-menu-width: 310px;
  --side-menu-padding: 22px;
  --side-menu-padding-top: 39px;
  --side-menu-item-height: 50px;
  --header-height: 60px;
  --theme-background: hsl(141deg 93% 83%);
  --page-background: hsl(from var(--theme-background) h s l / 0.4);
  --cards-grid-background: var(--page-background);
  --cards-item-background: hsl(0deg 0% 0% / 0.1);
  --cards-item-background-hover: hsl(from var(--theme-background) calc(h + 120) s l);
  --cards-item-description-lines: 3;
  --footer-color: hsl(0deg 0% 0%);
  --animation-timing: 0.2s;
  --animation-delay: 0.2s;

  @media (640px <= width <= 1023px) {
    --theme-background: hsl(202deg 100% 79%);
  }

  @media (width >= 1024px) {
    --theme-background: hsl(263deg 100% 87% / 0.4);
    --side-menu-background: var(--theme-background);
  }

  @media (prefers-reduced-motion: reduce) {
    --animation-timing: 0.01ms;
    --animation-delay: 0s;
  }
}
