:root {
  font-size: 16px;

  --hamburger-bar-width: 24px;
  --hamburger-bar-height: 5px;
  --hamburger-gap: 3px;
  --hamburger-border-color: transparent;
  --hamburger-border-width: 0;
  --hamburger-foreground: hsl(141deg 45% 71%);
  --hamburger-foreground-hover: hsl(141deg 19% 42%);
  --hamburger-foreground-expanded: hsl(262deg 42% 74%);
  --hamburger-foreground-expanded-hover: hsl(277deg 47% 71%);
  --hamburger-height: calc(var(--hamburger-bar-height) * 3 + var(--hamburger-gap) * 2);
  --hamburger-x-width: calc(hypot(var(--hamburger-height), var(--hamburger-height)));
  --hamburger-margin-top: 20px;
  --hamburger-margin-left: 20px;
  --top-menu-background: hsl(263deg 100% 87%);
  --top-menu-color: hsl(263deg 44% 75%);
  --top-menu-background-hover: hsl(277deg 93% 83%);
  --top-menu-color-hover: hsl(277deg 47% 71%);
  --header-background: hsl(141deg 93% 83%);
  --footer-background: hsl(141deg 93% 83%);
  --footer-color: hsl(0deg 0% 0%);
  --animation-timing: 0.2s;
  --animation-delay: 0.2s;
  --card-description-lines: 3;
}
