.header {
  $b: #{&};

  position: sticky;
  top: 0;
  z-index: var(--z-header);
  width: stretch;
  height: 60px;
  background-color: var(--theme-background);
  display: flex;
  align-items: center;

  &__buttons {
    margin-left: auto;
    margin-right: 10px;
    display: flex;
    gap: 16px;
  }
}

@media (width >= 1024px) {
  .header {
    position: static;
    z-index: auto;
  }
}
