.side-menu {
  $b: #{&};

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: var(--z-side-menu);
  width: 100%;
  height: 100vh;
  height: 100dvh;
  padding-inline: var(--side-menu-padding, 22px);
  overflow-y: auto;
  background-color: var(--side-menu-background);
  color: var(--side-menu-color);
  transition: translate var(--animation-timing);

  &[aria-hidden='true']  { translate: -100%; }
  &[aria-hidden='false'] { translate: 0; }

  &__header {
    position: sticky;
    top: 0;
    z-index: var(--z-base);
    height: 60px;
    margin-inline: calc(var(--side-menu-padding, 22px) * -1);
    background-color: var(--side-menu-background);
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;
    height: 51px;
    padding-inline: 12px 20px;
    border-radius: 9999px;

    &::before {
      flex-shrink: 0;
      width: 31px;
      height: 31px;
      margin-inline-end: 20px;
      content: '';
      background-color: var(--side-menu-color);
      mask: url('../images/list-icon.svg') no-repeat center / contain;
    }

    @media (hover: hover) {
      &:hover {
        background-color: var(--side-menu-item-background-hover);
      }
    }
  }

  &__link {
    font-weight: 600;
    color: var(--side-menu-color);
    text-decoration: none;
  }
}

@media (width >= 640px) {
  .side-menu {
    width: 310px;
  }
}

@media (width >= 1024px) {
  .side-menu {
    padding-block-start: 39px;
    position: static;
    height: 100%;
    translate: 0;
    transition: none;
    border-right: 1px solid hsl(0deg 0% 0% / 0.14);

    &__header { display: none; }
    &[aria-hidden='true']  { translate: 0; }
  }
}
