.hamburger {
  border: var(--hamburger-border-width) solid var(--hamburger-border-color);
  background: transparent;
  position: relative;
  top: var(--hamburger-margin-top);
  left: var(--hamburger-margin-left);
  z-index: 5;
  transition: fill var(--animation-timing) ease-in-out;
  cursor: pointer;

  .hamburger-icon {
    fill: var(--hamburger-foreground);
    transition: fill var(--animation-timing) ease-in-out;
  }

  &:hover {
    .hamburger-icon {
      fill: var(--hamburger-foreground-hover);
      transition: fill var(--animation-timing) ease-in-out;
    }
  }

  .line {
    transition:
      y var(--animation-timing) ease-in-out var(--animation-delay),
      rotate var(--animation-timing) ease-in-out,
      opacity 0ms var(--animation-delay);
    transform-origin: center;
  }

  &[aria-expanded='true'] {
    .hamburger-icon {fill: var(--hamburger-foreground-expanded);}

    :is(.line__top, .line__bottom) { y: 8px; }
    .line__top { rotate: 45deg; }
    .line__middle { opacity: 0; }
    .line__bottom { rotate: -45deg; }

    .line {
      transition:
        y var(--animation-timing) ease-in-out,
        rotate var(--animation-timing) ease-in-out var(--animation-delay),
        opacity 0ms var(--animation-delay);
    }

    &:hover {
      .hamburger-icon { fill: var(--hamburger-foreground-expanded-hover); }
    }
  }
}

html:has(.hamburger[aria-expanded='true']) { overflow: hidden; }
