.cards {
  background-color: hsl(141deg 94% 93%);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(115px, 1fr));
  gap: 16px;
  padding: 10px;

  .card {
    background-color: hsl(141deg 35% 84%);
    padding: 8px;
    border-radius: 8px;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    width: 100%;
    max-width: 150px;
    min-width: 115px;
    margin: 0 auto;
    overflow: hidden;
    transition: background-color var(--animation-timing);

    &:hover {
      background-color: hsl(201deg 42% 82%);
    }

    p.spell {
      height: 30px;
      font-weight: bold;
    }

    p.description {
      margin-block-start: 1rem;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      line-clamp: var(--card-description-lines);
      -webkit-line-clamp: var(--card-description-lines);
      overflow: hidden;
    }
  }
}
