.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: relative;
  top: var(--hamburger-margin-top);
  left: var(--hamburger-margin-left);
  z-index: 2;
  cursor: pointer;

  input {
    appearance: none;
    padding: 0;
    margin: 0;
    outline: none;
    pointer-events: none;

    &:checked {
      width: 0;
      opacity: 0;
    }
  }

  &:has(input:checked)::before {
    background-color: var(--hamburger-foreground-hover);
    rotate: 45deg;
    width: var(--hamburger-x-width);
    translate: 0 calc(var(--hamburger-bar-height) / -2);
  }

  &:has(input:checked)::after {
    background-color: var(--hamburger-foreground-hover);
    rotate: -45deg;
    width: var(--hamburger-x-width);
    translate: 0 calc(var(--hamburger-bar-height) / 2);
  }

  &:has(input:checked) + .top-menu {
    translate: 0;
  }
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: '';
  width: var(--hamburger-bar-width);
  height: var(--hamburger-bar-height);
  background-color: var(--hamburger-foreground);
  border-radius: 99px;
  transform-origin: left center;
  transition: opacity var(--animation-timing),
    width var(--animation-timing),
    rotate var(--animation-timing),
    translate var(--animation-timing),
    background-color var(--animation-timing);
}

html:has(.hamburger-menu input:checked) {
  overflow: hidden;
}

/* Fallback для iOS */
@supports (-webkit-touch-callout: none) {
    body:has(.hamburger-menu input:checked) {
        position: fixed;
        width: 100%;
        overflow: hidden;
    }
}
