header {
  position: sticky;
  top: 0;
  z-index: 1000; /* чтобы меню и карточки не перекрывали шапку */
  width: 100% -moz-available;
  width: 100% -webkit-fill-available;
  width: 100% stretch;
  height: 60px;
  background-color: var(--header-background);
}
