#top-menu {
  transition: translate var(--animation-timing);
  margin-top: -25px;
  background-color: var(--top-menu-background);
  color: var(--top-menu-color);
  min-width: 100% stretch;
  height: 100vh;
  overflow-y: auto;

  &[aria-hidden="true"] { translate: -100%; }
  &[aria-hidden="false"] { translate: 0; }

  .top-menu-header {
    height: 60px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--top-menu-background);
    z-index: 2;
  }

  ul {
//    margin-block-start: 27px;
    list-style: url("/assets/images/list-icon.svg");
  }

  li {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 25px;

    &::before {
      margin: 19px;
      width: 31px;
      height: 31px;
      content: "";
      mask: url("/assets/images/list-icon.svg");
      background-color: var(--top-menu-color);
    }

    a {
      text-decoration: none;
      color: var(--top-menu-color);
      font-weight: 600;
    }

    &:hover {
      background-color: var(--top-menu-background-hover);

      &::before { background-color: var(--top-menu-color-hover);}
      a { color: var(--top-menu-color-hover); }
    }
  }
}
